<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""> <b style="color:rgb(18, 5, 100); font-size: 27px; "><em>Tasty and Healthy Restaurant</em></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" ><i style="color: rgb(15, 5, 83);">Home</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link"><i style="color: rgb(15, 5, 83); ">Menu</i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/pre-booking" routerLinkActive="active-link"><i style="color: rgb(15, 5, 83);">Pre-Booking</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link"><i style="color: rgb(15, 5, 83);">About</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register-user" routerLinkActive="active-link"><i style="color: rgb(15, 5, 83);">Register-User</i></a>
        </li>
        
       
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link"><i style="color: rgb(15, 5, 83);">Contact-Us</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
