<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form (ngSubmit)="userRegister()" >
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="userName" name="txt" placeholder="User name" required="" [(ngModel)]="user.userName">
					<input type="email" name="email" placeholder="Email" required="" [(ngModel)]="user.email">
					<input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="user.password">
					<button (click)="onSignUp()" type="submit">SignUp</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="userName" name="userName" placeholder="User name" required=""  [(ngModel)]="loginObj.userName">
					<input type="password" name="pswd" placeholder="Password" required=""  [(ngModel)]="loginObj.password">
					<button (click)="onLogin()">Login</button>
					<button class="btn btn-success" routerLink="">Back to home</button>

				</form>
			</div>
	</div>
</body>
</html>

